<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<table id="empTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Profile</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Department</th>
            <th>Actions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(emp.ProfilePicturePath))
                    {
                        <img src="@emp.ProfilePicturePath" width="50" height="50" />
                    }
                    else
                    {

                        <span>No Image</span>
                    }
                </td>
                <td>@emp.Name</td>
                <td>@emp.Age</td>
                <td>@emp.Email</td>
                <td>@emp.MobileNumber</td>
                <td>@emp.DepartmentName</td>

                <td>
                    <a href="/Employee/Edit/@emp.Id" class="btn btn-sm btn-primary" title="Edit">
                        <i class="fa fa-pen"></i>
                    </a>
                </td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-sm btn-danger" title="Delete"
                       onclick="confirmDelete(@emp.Id, '@emp.Name')">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
